.ICEauthority
.angband/*
.atom/*
.audacity-data/*
.bash_history
.bash_logout
.bashrc
.bashrc_old
.bluej.Boot$App/*
.bluej/*
.cache/*
.cinnamon/*
.config/*
.dbshell
.eclipse/*
.fonts/*
.gitconfig
.gitignore.swp
.gnome/*
.gnucash/*
.gnupg/*
.hidden
.idlerc/*
.java/*
.lesshst
.links2/*
.local/*
.minecraft/*
.mongodb/*
.mongorc.js
.mozilla/*
.openttd/*
.pki/*
.profile
.pseint/*
.python_history
.squeak/*
.ssh/*
.sudo_as_admin_successful
.swt/*
.themes/*
.tlauncher/*
.tooling/*
.viminfo
.vimrc
.wget-hsts
.xinputrc
.zoom/*
Desarrollo/*
Descargas/*
Documentos/*
Escritorio/*
Imágenes/*
Scratch/*
Templates/*
UIS/*
VirtualBox VMs/*
Vídeos/*
errorqtile.txt
hs_err_pid2783.log
snap/*
squeak
usb_uis/*
